<!DOCTYPE html>
<html>
  <link rel="stylesheet" href='/static/style.css' />
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="https://asset-cdn.schoology.com/sites/all/themes/schoology_theme/favicon.ico" type="image/x-icon">
  <title>Home | Schoology</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="text.css" rel="stylesheet" type="text/css" />
  
  
  <div class="topnav">
      <a  href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co">Home</a>
      <a href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/game">Games</a>
      <a href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/emulator">Emulators</a>
      <a href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/gameroom">Game Room</a>
      <a class="active"        href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/about">About</a>
    </div>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="script.js"></script>
</head>

<body>
  <div class="header">
    
  <h1>  What this site is used for</h1>
  <center>This site used for playing games whenever you want and wherever you want</center>
  <h1>Who the creators are</h1>
  <center>The creators are just kids who wanted an easy and convinient way to play games in their free time</center>
  <h1>What happens if you tell anybody who these kids are</h1>
  <center>If you tell anybody who the creators are, you are going to be imediatly terminated from existance</center>
</div>
</body>

</html>