<!DOCTYPE html>
<link rel="stylesheet" href='/static/style.css' />
<html>
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="https://asset-cdn.schoology.com/sites/all/themes/schoology_theme/favicon.ico" type="image/x-icon">
  <title>Home | Schoology</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <link href="/static/text.css" rel="stylesheet" type="text/css" />
  <script src="static/Home.js"></script>
  <link href="/static/btn.css" rel="stylesheet" type="text/css" />
  <script src="static/btn.js"></script>
</head>

<body>
<div id="hidden" style="">
  <div id="topnav" class="topnav">
      <a id="link1"  href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/">Home</a>
      <a id="link2" href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/game">Games</a>
      <a id="link3" href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/emulator">Emulators</a>
      <a id="link4" href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/gameroom">Game Room</a>
      <a  id="link5" href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/about">About</a>
    <a  id="link6" class="active" href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/contact ">Contact Us</a>
    </div>

 
  <h1>Options</h1>
  
 <h4>Game Recomendation</h4>
  
  <br>
  <p align="center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeSM1_DGnPqeui0a_Y8jzXstBzm3NuslPPj5iLspy7MkDfX7w/viewform?embedded=true" width="640" height="677" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  <br>
  <h4>Advice</h4>
  <br>
  <p align="center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfA9wlu017sY4WPlwwjLc11s2Jqogo5D0Ms9Pj-XsYj4_bD6A/viewform?embedded=true" width="640" height="574" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>


    
  <br>
 <h4>Questions and Comments</h4>
  <br>
  <p align="center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfPpen5jgYKOq2juBXtuW54NFeEq5sD1Jr-mRQ-Uk2jeSg_cg/viewform?embedded=true" width="640" height="542" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  <br>
 <h4>Report a Game</h4>
  <br>
  <p align="center"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeubuNa-QjNvAZqu2LiJCIny1x7IvJUrz-8brBZq4YeMWW-UA/viewform?embedded=true" width="640" height="542" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  <br>
    
