<!DOCTYPE html>
<html>  
<head>
  <link rel="stylesheet" href='/static/Game.css' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="https://asset-cdn.schoology.com/sites/all/themes/schoology_theme/favicon.ico" type="image/x-icon">
  <title>Home | Schoology</title>
  <link href="/static/text.css" rel="stylesheet" type="text/css" />
  <script src="static/Game.js"></script>
    <link rel="stylesheet" href='/static/Game.css' />
</head>

<body>

 <div id="hidden">
  <div class="topnav">
    <a href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/">Home</a>
    <a class="active" href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/game">Games</a>
    <a href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/emulator">Emulators</a>
    <a href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/gameroom">Game Room</a>
    <a href="https://435442574473927044049037416144679013569003627114285558903249.thenewone123.repl.co/about">About</a>

  </div>

  <h1 style="text-align:center;" id="top">Games</h1>

  <div class="input">
    URL for emergency button: <input id="urlT" placeholder="Type URL, include https://www."> 


    <button onclick="retrieveURL()">Submit URL</button>
  </div>
  
  <div class="list">
    <table id="customers">
      <tr id="gamelist">
        <th id="top">Game List</th>
      </tr>
      <tr>
        <td><a href="#gametitle" onclick="swapCookie()">Cookie Clicker</a></td>
      </tr>
      <tr>
        <td><a href="#gametitle" onclick="swapMinecraft()">Minecraft JS</a></td>
      </tr>
      <tr>
        <td><a href="#gametitle" onclick="swapPolice()">Police Pursuit 2</a></td>
      </tr>
      <tr>
        <td><a href="#gametitle" onclick="swapSlope()">Slope</a></td>
      </tr>
      <tr>
        <td><a href="#gametitle" onclick="swapRF()">Rolling Forests</a></td>
      </tr>
      <tr>
        <td><a href="#gametitle " onclick="swapSnowball()">SnowBall io</a></td>
      </tr>
      <tr>
        <td><a href="#gametitle" onclick="swapVulcanist()">Vulcanist(fps)</a></td>
      </tr>
      <tr>
        <td>In Development</td>
      </tr>
      <tr>
        <td>In Development</td>
      </tr>
      <tr>
        <td>In Development</td>
      </tr>
      <tr>
        <td>In Development</td>>
      </tr>
      <tr>
        <td>In Development</td>
      </tr>
      <tr>
        <td>In Development</td>
      </tr>
      <tr>
        <td>In Development</td>
      </tr>
    </table>
  </div>














  <h1 id="gametitle"></h1>

  <div class="game">

    <iframe id="game" src="" name="iFrame Name" scrolling="No" height="" width="" style="border: none;"></iframe>


  </div>
  <button id="myBtn" title="Go to top"><a href="#top" style="text-color: white;">Top</a></button>

  <button class="EBtn" onclick="EBtnURL() title=" Emergency"><a id="url" target="blank" href="">Emergency!</a></button>





  </div>




  </body >
</html >